[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
imblearn = "*"

[dev-packages]

[requires]
python_version = "3"
